<h1 style="text-align: center">Seeding Trends</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Tag</th>
        <th scope="col">Tag</th>
        <th scope="col">Id Type</th>
        <th scope="col">Tag Type</th>
        <th scope="col">Articles</th>
      </tr>
    </thead>
    <tbody>
      <% if @seedings.empty? %>
        <p style="color: red">Go to terminal and run db:seed</p>
        <tr>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
      <% else %>
        <p style="color: green">Seeding successfully!</p>
        <% @seedings.take(20).each do |seeding| %>
          <tr>
            <td style="font-weight: bold"><%= seeding.idTag %></td>
            <td><%= seeding.tag %></td>
            <td><%= seeding.idType %></td>
            <td><%= seeding.tagType %></td>
            <td><%= seeding.articles %> <%= link_to "view", seeding_path(seeding) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
